{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ details.quote|default('No Quote')|capitalize}}</h1>
    <div class="col-lg-3 col-md-3 details">
      <a href="
 {% for video in details.videos %}
            {{video.url }}
        {% endfor %}
" target="_blank"> <img  style="width: 200px" src="{{image }}"></a>
    </div>
    <div class="col-lg-9 col-md-9">
        {{ details.body }}
    </div>
    <div class="clearfix"></div>
    <div  class="col-lg-3 col-md-3 bold details">{{ 'distribution'|trans }}</div>
    <div  class="col-lg-9 col-md-9">
        {% for distribution in details.cast %}
            {{ distribution.name }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    <div  class="col-lg-3 col-md-3 bold details">
        {{ 'directors'|trans }}
    </div>
    <div  class="col-lg-9 col-md-9">
        {% for director in details.directors %}
            {{ director.name }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
     <div  class="col-lg-3 col-md-3 bold details">
        {{ 'genres'|trans }}
    </div>
    <div  class="col-lg-9 col-md-9">
        {% for genre in details.genres %}
            {{genre }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    <div  class="col-lg-3 col-md-3 bold details">
        {{ 'viewing_window'|trans }}
    </div>
    <div  class="col-lg-9 col-md-9">
        {% if details.viewingWindow is defined %}
            {{ 'from'|trans }} {{details.viewingWindow.startDate|default('N/A') }} {{ 'to'|trans }}  {{ details.viewingWindow.endDate|default('N/A') }} {{ 'on'|trans }}  {{ details.viewingWindow.wayToWatch|default('N/A') }}
        {% else %}
            N/A
        {% endif %}
    </div>
</div>
{% endblock %}
