{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="col-lg-12 col-md-12">
       <ul>
        {% for item in json_data %}
            <li class="fa fa-angellist"> <a href="{{ path('details_json',{ 'id': item['id'] } ) }}" > {{ item['synopsis'] }}</a> </li>
        {% endfor %}
       </ul>
    </div>
</div>
{% endblock %}
